.App {
    width: 700px;
    height: 300px;
    float: left;
    font-family: sans-serif;
    text-align: center;
}

.layer {
    width: 700px;
    height: 300px;
    border: 1px solid;
}

.ControlBlock {
    float: left;
    padding-top: 20px;
    width: 250px;
}